<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<style>
body {
    background-color:honeydew;
    height: 100vh;
}

.title {
    font-size: 50px;
    transform: rotate(-50deg);
    margin-left:-430px;
}

@media screen and (max-width: 600px) {
  .title {
    margin-left:-210px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;           
}

</style>

<body>
    <section class="section">
        <div class="container">
            <div class="card" style="width: 500px;">
                <div class="card-content">
                    <div class="form-body container">
                        <div class="container has-text-centered" style="margin-bottom: 100px;">
                            <h1 class="title">
                                Weather
                            </h1>
                        </div>
                        <form  class="has-text-centered">
                            <div class="input-group input-group-lg"
                                style="margin-top:20px;margin-bottom:20px;">
                                <input class="input is-rounded" type="text" placeholder="Enter a location">
                            </div>
                            <button class="button is-black is-warning ">Search</button>
                        </form>
                    </div>
                </div>

               

            </div>



        </div>
        <section class="section" style="margin-top:60px">
            <div class="card" >
                        <div class="card-content">
                            <div class="form-body container">
                                        <p style="font-size: 25px;color:black" id="message-1"></p>
                                        <p id="message-2"></p>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </section>
    <footer id="footer">
            <p>
                Made by <a href="https://github.com/maryamtb" style="color: black;border: 2px solid hsl(48, 100%, 67%);  background-color:hsl(48, 100%, 67%);">MTB.</a>
            </p>
        </p>
    </footer>

    <script src="/js/app.js"></script>
</body>

</html>