<footer id="sticky-footer">
    <div class="container text-center">Created by
        <a href="/" style="font-family: 'Dancing Script',cursive;font-size:17px;">Maryam Touimi Benjelloun</a>.
    </div>
</footer>