.main-content {
    flex-grow: 1;
    margin-top: 80px;
    margin-bottom: 50px;    
}

header {
    margin-top: 300px;
    margin-bottom: 48px;
}

#sticky-footer {
    position: fixed center;
    bottom: 0 auto;
    margin-top: 110px;
}